body {
  padding-top: 75px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
input {
  margin-top: 20px;
}
.widgets {
  min-width: 800px;
  margin: auto;
}
#answers {
  text-align: left;
}
#scoreform {
  padding-top: 30px;
}
.scoreheader {
  text-align: left;
}
.results {
  text-align: left;
  background: #d9d9e0;
  border-radius: 10px;
  padding: 20px;
}
